*{
  margin: 0;
  box-sizing: border-box;
}

.Button{
  width: 125px;
  font-size: 20px;
  border-radius: 2rem;
  outline: none;
  background-color: #a0a8d9;
  border: 0 none;
  padding: 10px 0px;
  transition: all 0.2s;
}

.Button:hover{
  width: 200px;
}
